* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Contenedores */

.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 400px;
}

/* Títulos */

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Botones */

button {
    width: 100%;
    padding: 12px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2d8cf0;
}

/* Dashboard */

.dashboard {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 600px;
    text-align: center;
}

a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    background: #4facfe;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Tabla */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #4facfe;
    color: white;
}

p {
    text-align: center;
    margin-top: auto;
}

.layout {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #2d3436;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: flexbox;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    background: #636e72;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #00a8ff;
}

.contenido {
    flex: 1;
    padding: 40px;
    background: #f5f6fa;
}